.form-btn{
  padding: 5px 15px;
  border: 0;
  font-size: 20px;
  background-color: #232424;
  color: white;
  text-transform: uppercase;
  margin: 10px auto;
  cursor: pointer;
  transition: .8s;
}
.form-btn:hover{
  background-color: #929292;
  box-shadow: 1px 1px #000000;
  color: #000000;
}