.chat__send-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 8%;
  height: 8vh;
  background-color: #0b2e3d;
  border: 1px solid #0b2e3d;
  user-select: none;
  cursor: pointer;
  transition: .9s;
  text-transform: uppercase;
  color: white;
}

.chat__send-btn:hover{
  border: 1px solid white;
  background-color: #0C202E;
}
